body {
  margin: 20px;
}

code {
  background: lightgray;
}

canvas {
  margin: auto;
}

.container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 800px) {
  .container {
    flex-direction: row;
  }
}